# Exclude version control files
.git
.github
.gitignore

# Exclude Python cache and bytecode files
__pycache__
*.pyc

# Exclude local development files
.venv
*.log

# Exclude Docker related files
.dockerignore
Dockerfile

# Exclude any other files or directories not needed in the Docker image
README.md
data/
docs/
reports/
test/
challenge/exploration.ipynb
Makefile
requirements-test.txt
requirements-dev.txt